* {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    border: 2px solid #41719C;
    width: 475px;
    height: 250px;
    padding: 40px 50px;
}

form {
    margin: 0 auto;
    justify-content: center;
}

.form-item {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    margin: 15px 10px;
}

.label 
{
    background-color: #5B9BD5;
    padding: 10px;
    min-width: 100px;
    border: 2px solid #41719C;
    color: white;
    text-align: center;
}

input[type="text"] 
{
    padding: 10px;
    border: 2px solid #41719C;
    border-radius: 0;
    width: 100%;
}

.radio 
{
    display: flex;
    align-content: center;
}

input[type="radio"] 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #5B9BD5;
    border: 2px solid #41719C;
    margin-top: 13px;
}

label
{
    padding: 13px 13px 0;
}

select {
    border: 2px solid #41719C;
}

.center {
    display: flex;
    justify-content: center;
}

button[type="submit"] {
    color: white;
    padding: 10px;
    width: 150px;
    margin-top: 10px;
    background-color: #76AD40;
    border-radius: 10px;
    border: 2px solid #41719C;
}